MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=loan_options
MONGODB_APPLICATIONS_COLLECTION=loan_applications
MONGODB_APPLICATION_LOGS_COLLECTION=loan_application_api_logs
MONGODB_FORM_DROP_OFF_COLLECTION=form_drop_off_analytics
MONGODB_CONTACT_COLLECTION=contact_messages
MONGODB_DO_NOT_SELL_COLLECTION=do_not_sell_requests
MONGODB_ZIP_COLLECTION=us_zip_lookup
GA4_PROPERTY_ID=your_ga4_property_id
GA4_PROJECT_ID=your_gcp_project_id
GA4_CLIENT_EMAIL=your_service_account_email
GA4_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
GA4_REPORT_API_SECRET=your_optional_report_secret

LEAD_API_URL=https://leads.cashcorner.com/genericPostlead.php
LEAD_API_TEST_LEAD=
LEAD_API_TYPE=69
LEAD_API_RETURN_DYNAMIC_COST=1
LEAD_API_SUBMIT_TYPE=Real Time
LEAD_API_CASH_OFFER_TYPE=your_value
LEAD_API_POSTED_FROM=your_value
LEAD_API_AFFILIATE_ID=your_value
LEAD_API_SRC=your_value
LEAD_API_CAMPAIGN_ID=your_value
LEAD_API_PUB_ID=your_value
LEAD_API_SUB_ID=
LEAD_API_SUB_ID_2=
LEAD_API_LANDING_PAGE=leads.cashcorner.com
LEAD_API_SOURCE_URL=
LEAD_API_CITY=
LEAD_API_STATE=
LEAD_API_ROUTING_NUMBER=
LEAD_API_ACCOUNT_NUMBER=
LEAD_API_BANK_NAME=
LEAD_API_EMPLOYER=
LEAD_API_AUTO_STATUS=
LEAD_API_HOME_IMPROVEMENT_REASON=
