MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=loan_options
MYSQL_APPLICATIONS_TABLE=loan_applications
MYSQL_ZIP_LOOKUP_TABLE=timezonebyzipcode

LEAD_API_URL=https://leads.cashcorner.com/genericPostlead.php
LEAD_API_TEST_LEAD=
LEAD_API_TYPE=69
LEAD_API_RETURN_DYNAMIC_COST=1
LEAD_API_SUBMIT_TYPE=Real Time
LEAD_API_CASH_OFFER_TYPE=your_value
LEAD_API_POSTED_FROM=your_value
LEAD_API_AFFILIATE_ID=your_value
LEAD_API_SRC=your_value
LEAD_API_CAMPAIGN_ID=your_value
LEAD_API_PUB_ID=your_value
LEAD_API_SUB_ID=
LEAD_API_SUB_ID_2=
LEAD_API_LANDING_PAGE=leads.cashcorner.com
LEAD_API_SOURCE_URL=
LEAD_API_CITY=
LEAD_API_STATE=
LEAD_API_ROUTING_NUMBER=
LEAD_API_ACCOUNT_NUMBER=
LEAD_API_BANK_NAME=
LEAD_API_EMPLOYER=
LEAD_API_AUTO_STATUS=
LEAD_API_HOME_IMPROVEMENT_REASON=
